.main-section{
    display: flex;
    padding: 50px 0;
   justify-content: center
}

.left-part{
    display: flex;
    align-items: center;
    justify-content: center;
}
 .lazy-loaded{
    background-color: #005989;
    border-radius: 50%;
    padding: 10px;
    max-width: 100%;
    vertical-align: middle;
    border:0;
    opacity: 1;
    transition: opacity .4s;
    transition-delay: 0ms;
    height: 100px;
}
.main-section .left-part{
    width: 42%;
    position: relative;
}

.ex-right > *{
    margin-bottom: 50px;
}


/* heading */

.first-heading{
font-size: 18px;
font-family:'poppins',sans-serif;
color: #666666;
}

.second-heading{
font-size: 36px;
font-family: 'poppins',sans-serif;
color:#333333;
font-weight: 800;
}

.third-heading{
    font-size: 36px;
    font-family: 'poppins',sans-serif;
    color:#046091;
    font-weight: 800;
}

/* styling the right section */

.ex-right h3{
    font-size: 20px;
    color:#333333;
    font-family: 'poppins',sans-serif;
}

.ex-right p{
    color: #666666;
    font-family: 'poppins',sans-serif;
    font-size: 14px;
    width: 50%;
}

/* positioning every divs */

.ex-details_details2{
    position: relative;
    left: 10%;
}
.ex-details_details3{
    position: relative;
    left: 20%;
}
.ex-details_details4{
    position: relative;
    left: 10%;
}