.card-section{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 9rem;
   
}
.card-services{
    display: flex;
    gap:3rem;
    justify-content: center;
    width: fit-content;
    background-color: rgb(241,241,241);
    padding: 5%;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}